# متغيرات البيئة لنظام إدارة حجز القاعات

# عنوان URL الأساسي لـ API
VITE_API_URL=https://occasioni.fexpress.ly/api

# عنوان التطبيق
VITE_APP_TITLE=نظام إدارة حجز القاعات

# إصدار التطبيق
VITE_APP_VERSION=1.0.0

# بيئة التطبيق
NODE_ENV=development
